client/node_modules
server/api/Article_cache
server/api/Geolocated_cache

.qodo
.env
__pycache__
server/api/.env

#ignore any virtual environments from tracked changes
.venv/
venv/

weather_cache.json
precip_cache.json