/*Add right and left menu split components to avoid absolute positioning*/

@font-face{
    font-family: 'inter';
    src:url('../assets/Inter-VariableFont_opsz,wght.ttf') format('truetype')
}

* {
    font-family: 'inter';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*Custom Scrollbar*/
*::-webkit-scrollbar{
    width: 7px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background: white;
}
*::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}
html {
    height: 100%;
    width: 100%;
}

/*Start Menu styling*/
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    overflow: visible;
    pointer-events: none;
    background: none !important;
}

/*Insert new glass styling for all children of menu*/
#menu > div *{
    border-radius: 20px;
    color: white;
}

/*Left side of the menu*/
#left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 2%;
    height: 100%;
    width: 50%;
}
#left > div {
    pointer-events: all;
}
/*Logo styling {deprecated}
#logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 14%;
    width: 100%;
    background: transparent;
    margin-bottom: 5%;
}

#logo > img {
    height: 80%;
    width: 35%;
}
*/

#AI {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20vw;
    height: 43vh;
    margin-top: 6vh;
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 5%);
}
#AI > .text-container {
    max-height: 74%;
    overflow: scroll;
    overflow-x:hidden;
    padding-left: 4%;
    margin-right: 3%;
    margin-top: 3%;
}

/*Padding for text inside of AISummary*/
#AI > .text-container > p{
    padding: 0.4rem;
}
/*Padding for country selection*/
#AI > .country-choice{
    border-radius: 0px;
    padding: 5px;
    width: 13rem;
    /*Center Country choice text*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#help{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}
#help-button{
    height: 2.5rem;
    width: 2.5rem;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 5%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
}
#help-button > img {
    height: 0.8rem;
}

/*Consider style change for the help button to show click action physically*/



/*Right side of the menu*/
#right > div {
    pointer-events: all;
}
#right > form {
    pointer-events: all;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}
/*Shared Styling for #info-box and #toggle-menu as well as their titles*/
#toggle-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 7px;
    margin-bottom: 30vh;
    backdrop-filter: blur(2px);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 5%);
    user-select: none;
}
#right > :not(:first-child) > .title {
    cursor: default;
    border-radius: 0px;
    padding: 5px;
    width: 10rem;
    /*Center filter text*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Filter group styling*/
#toggle-radio-group {
    display: none;
}
#toggle-menu.active #toggle-radio-group{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding-left:1.25vw;
    padding-top: 1.6vh;
    gap: 1.1vh;
    background-color: transparent;
    align-self:start;
}
#toggle-radio-group > label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
/*Remove Default styling for radio buttons*/
#toggle-radio-group > label > input {
    display: none;
}
/*Styling for custom radio buttons*/
#toggle-radio-group > label > span{
    font-size: 0.8rem;
    border: 2.0px solid rgba(255, 255, 255, 0.2);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
}
#custom-label input[type="checkbox"]:checked + .custom-radio {
    background-color: rgba(255,255,255, 0.5) !important;
}
#custom-label input[type="checkbox"]:not(:checked) + .custom-radio:hover {
    background-color: gray !important;
}

/*Search Menu Styling*/
#search{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
}
#search > input {
    width: 20rem;
    height: 1rem;
    padding: 4px;
    color: white;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 5%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
}
/*Remove blue focus on click for search input*/
textarea:focus, input:focus{
    outline: none;
}
/*Adjust styling for the information section*/
#atlas-intel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
    min-width: 6rem;
    margin: 7rem;
    backdrop-filter: blur(2px);
    border-radius: 50px !important;
    background: rgba(255, 255, 255, 5%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    user-select: none;
}
#info-box > div {
    padding: 0.5rem;
}

/*Autocomplete dropdown*/
.suggestion-list{
    width: 20rem;
    padding: 2px;
    list-style: none;
    overflow-y: scroll;
    z-index: 10;
    border: none;
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
.suggestion-item:hover {
    background: rgba(59, 59, 59, 0.255);
  }
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

