/*Add right and left menu split components to avoid absolute positioning*/

@font-face{
    font-family: 'inter';
    src:url('../assets/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
@font-face{
    font-family: 'Notosans JP';
    src:url('../assets/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 'inter', 'Notosans JP';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*Custom Scrollbar*/
*::-webkit-scrollbar{
    width: 7px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background: white;
}
*::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}
html {
    height: 100%;
    width: 100%;
}

/*Start Menu styling*/
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
    background: none !important;
}

/*Insert new glass styling for all children of menu*/
#menu > div *{
    border-radius: 20px;
    color: white;
}

/*Left side of the menu*/
#left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 2%;
    height: 100%;
    width: 50%;
}
#left > div {
    pointer-events: all;
}
/*Logo styling {deprecated}
#logo {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 14%;
    width: 100%;
    background: transparent;
    margin-bottom: 5%;
}

#logo > img {
    height: 80%;
    width: 35%;
}
*/

#AI {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 9rem;
    margin-top: 6vh;
    padding: 10px;
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    background: rgba(50, 50, 50, 10%);
    box-shadow: 5px 10px 15px black;
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
}
#AI.active{
    height: 40vh;
    width: 23vw;
}
#text-container {
    height: auto;
    max-width: 23rem;
    margin-bottom: 1rem;
    overflow-x:hidden;
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
    border-radius: 0px !important;
}
#text-container > ol {
    list-style: none;
}
#text-container > img {
    height: 100px;
    width: 100px;
}


/*Padding for text inside of AISummary*/
#text-container > p{
    padding: 0.4rem;
}
/*Padding for country selection*/
.country-choice{
    border-radius: 0px;
    padding: 5px;
    width: 13rem;
    /*Center Country choice text*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.country-choice h1{
    opacity: 1;
    transition: opacity 0.6s ease;
}
.country-choice h1.hide{
    opacity: 0;
}

#help{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}
#help-button{
    height: 2.5rem;
    width: 2.5rem;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 5%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
}
#help-button > img {
    height: 0.8rem;
}

/*Consider style change for the help button to show click action physically*/



/*Right side of the menu*/
#right > div {
    pointer-events: all;
}
#right > form {
    pointer-events: all;
}
#right{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right:2%;
    position: relative;
    gap: 12rem;
}
/*Shared Styling for #info-box and #toggle-menu as well as their titles*/
#toggle-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    max-height: 10vh;
    width: 15vw;
    min-height: 2rem;
    min-width: 10rem;
    overflow: hidden;
    backdrop-filter: blur(2px);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    background: rgba(50, 50, 50, 10%);
    box-shadow: 5px 10px 15px black;
    user-select: none;
    position: absolute;
    top: 15rem;
    transition: max-height 1.0s ease-out;
}
/*Filter group styling*/
#toggle-menu.active{
    max-height: 20vh;
}

#toggle-radio-group{
    visibility: hidden;
}

/*Code for when the filters are toggled on*/
#toggle-menu.active #toggle-radio-group{
    display: flex;
    visibility: visible;
    animation: show 1.75s ease-in-out;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: transparent;
    align-self: center;
    pointer-events: all;
    padding: 5px;
}
/*Animations for toggle-menu*/
@keyframes show {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
#toggle-radio-group {
    visibility: hidden;
    display: none;
}
#toggle-radio-group > label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
/*Remove Default styling for radio buttons*/
#toggle-radio-group > label > input {
    display: none;
}
/*Styling for custom radio buttons*/
#toggle-radio-group > label > span{
    font-size: 0.8rem;
    border: 2.0px solid rgba(255, 255, 255, 0.2);
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
}
#custom-label input[type="checkbox"]:checked + .custom-radio {
    background-color: rgba(255,255,255, 0.5) !important;
}
#custom-label input[type="checkbox"]:not(:checked) + .custom-radio:hover {
    background-color: gray !important;
}
#right > :not(:first-child) > .title {
    cursor: default;
    border-radius: 0px;
    padding: 5px;
    width: 10rem;
    /*Center filter text*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Search Menu Styling*/
#search{
    display: inline;
    position: relative;
    margin-top: 8%;
    max-height: 20rem;
}
#search > input {
    text-align: center;
    width: 20rem;
    height: 1rem;
    padding: 4px;
    color: white;
    backdrop-filter: blur(2px);
    background: rgba(100, 100, 100, 10%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 10px 15px black;
}
/*Remove blue focus on click for search input*/
textarea:focus, input:focus{
    outline: none;
}
/*Adjust styling for the information section*/
#atlas-intel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    backdrop-filter: blur(2px);
    border-radius: 50px !important;
    background: rgba(50, 50, 50, 10%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 10px 15px black;
    user-select: none;
    /*Position absolute to prevent affecting other divs on extension*/
    position: absolute;
    top: 60%;
    right: 20%;
    /*Animation for changing selection*/
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
}
#atlas-intel.active{
    height: 30vh;
    width: 45vw;
}
#atlas-intel.active #ai-title{
    opacity: 1;
    transition: opacity 0.6s ease;
}
#atlas-intel.active #ai-title.ai-hide{
    opacity: 0;
}


/*Text container for the response from the AI agent*/
.atlas-response-container p{
    opacity: 0;
    padding: 0px;
    height: 0px;
    width: 0px;
    transition: opacity 0.6s ease-in-out, padding 0.6s ease-in-out, height 0.6s ease-in-out, width  0.6s ease-in-out;
}
.atlas-response-container p.anim{
    opacity: 1;
    padding: 2px;
    height: 12rem;
    margin-left: 1rem;
    width: auto;
    overflow-y: auto;
    border-radius: 0px !important;
    scrollbar-width: thin;
    scrollbar-color: grey rgba(59, 59, 59, 0.255);
}




#info-box > div {
    padding: 0.5rem;
}

/*Autocomplete dropdown*/
.suggestion-list{
    width: 20rem;
    padding: 2px;
    list-style: none;
    overflow-y: scroll;
    border: none;
    max-height: 8rem;
    position: absolute;
    scrollbar-width: thin;
    scrollbar-color: grey rgba(59, 59, 59, 0.255);
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
.suggestion-item:hover {
    background: rgba(59, 59, 59, 0.255);
  }
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
}
/*Temp key */
#filter-Key{
    backdrop-filter: blur(2px);
    border-radius: 50px !important;
    background: rgba(50, 50, 50, 10%);
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 10px 15px black;
    padding: 10px;
    margin-bottom: 1rem;
}
.temp-key-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.straight{
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 12px;
}
svg{
    align-items: center;
}
.temp-key-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
    padding: 2px;
}
.temp-key-gradient{
    height: 1rem;
    width: 210px !important;
    background: linear-gradient(90deg,#8A2BE2, #783CD2, #664DC2, #545CB1, #4169E1, #6983E1, #91A1E1, #B9BEE0, #E1DCE0, #F0F0D2, #FFFFE0, #FFF0AC, #FFDB74, #FFC73C, #FFB304, #FFA500,#FF7B00, #FF5200, #FF2800, #FF0000);
    margin-left: 5px;
}
/*Precipitation Key*/
.precip-key-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.precip-key-gradient{
    height: 1rem;
    width: 210px !important;
    background: linear-gradient(90deg,#00FF00FF,#FFFF00FF, #FF0000FF,#E839A4FF);
    margin-left: 5px;
}
.precip-key-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
    padding: 2px;
}
.precip-key-container > .text-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

/*Disaster key*/
.disaster-key-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}
.disaster-key-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disaster-key-container > div > img{
    height: 50px;
    width: 50px;
}
.news-congestion-link{
    display: inline;
    background: rgba(50, 50, 50, 10%);
    backdrop-filter: blur(2px);
    border-radius: 50px !important;
    border: 2.0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 10px 15px black;
    color: #00FFFF;     
    padding: 4px 8px;       /*white original*/
    border-radius: 8;
    font-size: 25;
    min-width: 10vw;
    width: 20vw;
    max-height: 10vh;
    overflow-wrap: normal;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    right: 25rem;
    top: 2rem;
}
